$baseColor: rgb(51,51,51);
$baseHover: rgb(195,195,195);
$menuBg: #1D1D1D;
$mainBg: white;

$textSeparation: 5px;
$textSeparationSmall: 2px;
$mainFont: 'Open Sans';
$fontWeight: 800;



@mixin flexPosition($direction,$wrapping,$just){
    display: flex;
    flex: $direction $wrapping;
    justify-content: $just;
    align-items: center;
    align-content: initial;
}
@mixin fixedTop(){
    position: fixed;
    top: 0;
    left: 0;
}
@mixin up($separation){
    text-transform: uppercase;
    letter-spacing: $separation;
}

@mixin respond($breakpoint) {
    @if $breakpoint == medium {
        @media screen and (max-width:1000px) { @content };
    }
    @if $breakpoint == small {
        @media screen and (max-width:650px) { @content };
    }
}