:root{
    --mainColor : rgb(51,51,51);
    --mainHover : rgb(195,195,195);
    --menuBg : #1D1D1D;
    --white: white;
    --black: black;
;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    color: var(--mainColor);
    text-transform: uppercase;
    letter-spacing: 2px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width: 100%;
    padding: 2em 0;
}
.centered {
    width: 80%;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    margin: auto;
}

.logo{
    max-width: 150px;
}

nav{
    width: calc(90%-150px);
}

nav .menu{
    width: 100%;
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: initial;

    font-weight: 600;
    font-size: 0.95em;
}

.menu .menuItem{
    margin: 0 0 0 1.6em;
}

.menu .menuItem:hover{
    color: var(--mainHover);
}

.menuItem .SFsubmenu{
    display: none;
    position: absolute;
    /* vertical-align: baseline; */
    padding: 1em 0;
    text-align: left;
    font-size: 0.9em;
}
.SFsubmenu .SFsubmenuItem{
    margin: 0.5em 1em;
}

.menuItem.SF:hover .SFsubmenu{
    display: block;
    background-color: var(--menuBg);
    color: var(--white);
}
.SFsubmenu .SFsubmenuItem a:hover{
    color: var(--mainHover);
}
.soul{
    width:100%;
    min-height: 100vh;

    background-image: url(../assets/imgs/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.soul .logoSoul{
    width: 90%;
    max-width: 760px;
    min-height: 50px;
}

.columns{
    width: 100%;
    padding: 10vh 0;
}
.columns .items{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}

.items .item{
    width: calc( 100% / 3 - 2em );
    text-align: center;
}
.items .item img{
    width: 100%;
    min-height: 200px;
    margin: 0 0 2em 0;
}
.items .item .itemTittle{
    width: 100%;
    font-weight: 700; 
    font-size: 0.9em;
}
footer{
    width: 100%;
    min-height: 50vh;
    text-align: center;
}

footer .socialMedia{
    margin: auto;
    min-height: 13em;
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    padding: 2em 1.5em;
}

footer .icon{
    font-size: 1.5em;
    min-height: 3em;
    margin: 0 .85em;
}

footer .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1.2em;
    margin: 0 .8em;
    padding: 0 0 .2em;
    font-size: 0.9em;
    letter-spacing: 3px;
    
}
.linkItem{
    padding: 0.5em 0;
}
footer .links a{
    
    border-bottom: 1px solid var(--mainHover);
    padding-bottom: 2px;

}
footer .copyright{
    padding: 0.8em 0;
    font-size: 0.9em;
}


@media screen and (prefers-color-scheme:dark){
    
    header{
        background-color: var(--black);
    }
    header .logo{
        filter: invert();
    }
    .menu {
        color: var(--white);
    }
    
    .menu .menuItem:hover{
        color: var(--mainHover);
    }
    body{
        background-color: var(--menuBg);
    }

    .columns .items{
        color: var(--white);
    }

    footer .icon{
        color: var(--mainHover);
    }

    footer .icon:hover{
        transform: scale(1.2);
        color: var(--white);
    }

    footer .links a{
        color: var(--mainHover);
        border-color: rgba(195,195,195,0.4);
    }

    footer .links a:hover{
        color: var(--white);
    }

    footer .copyright{
        color: var(--mainHover);
    }
}